#header,#content,#footer,#advert{
    border: 1px solid black;
}

#main-container{
    display: grid;
    grid-template-areas: 
    "header header"
    "advert content1"
    "footer footer";   
}
#header{
    grid-area: header;
}
#adver{
    grid-area: advert;
}
#content{
    grid-area: content1;
}
#footer{
    grid-area: footer;
}
#container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.item{
    width: 95%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.226);
    transition: 1s;
    text-decoration: none;
    margin: 5px;
}
.item:hover{
    transform: scale(1.07);
    border: 1px solid #1f601f;
}
p{
    display: inline-block;
}
#select{
    float: right;
}
#clear{
    clear: both;
}
#select{
    margin: 15px;
    padding: 10px;
}
img{
    height: 200px;
    width: auto;
}

#main-header{
    display: grid;
    grid-template-areas: "search shop";
    align-items: center;
    justify-items: center;
}
#search-form{
    grid-area: search;
    width: 100%;
    border: 1px solid orangered;
}
#input{
    box-sizing: border-box;
    width: 89%;
    height: 40px;
    margin: 0px;
    padding: 0px;
}
#search-btn{
    float: right;
    width: 11%;
    height: 40px;
    margin: 0px;
    padding: 0px;   
}
#shop{
    grid-area: shop;
    width: 200px;
    height: 50px;
}
#menu{
    background-color: #1f601f;
    text-align: center;
}
#menu a{
    text-decoration: none;
    color: #fff;
    
}
#menu li{
    padding: 20px;
    color: white;
    display: inline-block;
   
    position: relative;
    width: 120px;
}
#menu ul li {
    display: none;

}
#menu li:hover .submenu li{
    display: block;
}
#menu ul {
    margin: 20px;
    margin-left: -20px;
    background-color: #1f601f;
    width: 100%;
    position: absolute;
}
#menu li:hover {
    background-color: #3ec73e;
    color: #333;
}
#main-container{
    width: 92%;
    margin: auto;
    font-size: 20px;
}